# LIBS
libft_malloc.so
libft_malloc_x86_64_Darwin.so

# BINS
main
test0
test1
test2
test3
test3bis
test4
test5
test6

# FILES
buf
logs
data

# OBJS
objs/*.o

# SWP
srcs/*.swp
includes/*.swp
.Makefile.swp
